.DS_Store
xcdebugger

*.dia
dgph
*.xcsettings
*.xcuserstate

# Compiled Object files
*.slo
*.lo
*.o
*.o-*
*.obj
*.a

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Compiled Static libraries

# Executables
*.exe
*.out
*.app
